<div class="container">

    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th class="text-center">id</th>
                            <th class="text-center">fecha</th>
                            <th class="text-center">empleado</th>
                            <th class="text-center">tareas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cita of citas" class="text-center" (click)="verCita(cita)">
                            <td>{{cita.id}}</td>
                            <td>{{cita.fecha}}</td>
                            <td>{{cita.empleado.nombre}}</td>
                            <td>
                                <tr *ngFor="let tarea of cita.tareas" class="text-center">{{tarea.trabajo.nombre}}</tr>
                            </td>
                        </tr>
                    </tbody>
                </table>

               

            </div>
        </div>
    </div>

</div>